@charset "UTF-8";

/* 초기화 */
* {margin: 0; padding: 0; line-height: 1; vertical-align: top; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family: 'notokr-demilight'; font-size: 16px; letter-spacing: -.025em;}
a {color: inherit; text-decoration: none;}
ol, ul, dl {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
img, video {border: 0 none; vertical-align: bottom;}
table {border-collapse: collapse; border-spacing: 0;}
table caption {position: absolute; overflow: hidden; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;}
button span {position: relative;}
.ellipsis-multi {text-overflow: ellipsis; overflow: hidden; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word;}
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;}

