@charset "UTF-8";

/* 초기화 */
* {margin: 0; padding: 0; line-height: 1; vertical-align: top; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family: 'notokr-demilight'; font-size: 16px; letter-spacing: -.025em;}
a {color: inherit; text-decoration: none;}
ol, ul, dl {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
img, video {border: 0 none; vertical-align: bottom;}
table {border-collapse: collapse; border-spacing: 0;}
table caption {position: absolute; overflow: hidden; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;}
button span {position: relative;}
.ellipsis-multi {text-overflow: ellipsis; overflow: hidden; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word;}
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;}

.main-pr {overflow: hidden; margin-bottom: 70px; position: relative;}
.main-pr h3 {width: 1200px; margin: 0 auto; font-size: 34px; padding: 80px 0 20px;}
.main-pr .pr-slide .slick-arrow {position: absolute; top: 130px; width: 34px; height: 34px; display: inline-block; text-indent: -9999px; cursor: pointer; z-index: 100;}
.main-pr .pr-slide .slick-prev {left: -37px; background: url(../images/btn_left_pr.jpg) no-repeat;}
.main-pr .pr-slide .slick-next {right: -37px; background: url(../images/btn_right_pr.jpg) no-repeat;}
.main-pr .btn-pr {position: absolute; right: 50%; top: 90px; margin-right: -597px;}
.pr-slide {width: 1200px; margin: 0 auto;}
.pr-slide .slick-list {overflow: visible;}
.pr-slide .item {height: 300px; position: relative; overflow: hidden; margin: 0 3px; filter: grayscale(100%); opacity: .6;}
.pr-slide .item a {display: block; box-sizing: border-box; width: 290px; height: 298px;}
.pr-slide .item.slick-active {filter: grayscale(0); opacity: 1;}
.pr-slide .item .img {width: 288px; height: 295px; overflow: hidden; display: inline-block; background: url(https://via.placeholder.com/288x295); background-size: 100%;}
.pr-slide .item img {min-height: 220px; width: 100%;}
.pr-slide .item .txt {box-sizing: border-box; padding: 12px 24px; width: 288px; position: absolute; bottom: 5px; background: rgba(0, 0, 0, .7);}
.pr-slide .item .txt span {line-height: 26px; color: #fff; text-align: center;}
.main-link {width: 1200px; margin: 0 auto 60px; overflow: hidden;}
.main-link ul {text-align: center;}
.main-link li {display: inline-block; margin-right: 11px;}
.main-link li:last-child {margin: 0;}
.btn-link {display: inline-block; width: 190px; height: 40px; line-height: 40px; background: #5229ad url(../images/arr_right_w.png) 160px center no-repeat; color: #fff; text-align: center;}
.btn-link-w {display: inline-block; width: 190px; height: 40px; line-height: 40px; color: #555; text-align: center; background: #fff url(../images/arr_right.png) 160px center no-repeat;}